[user]
  name = yisselda-bbr
  email = yrhoc@bbrpartners.com

[init]
  defaultBranch = main

[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  poh = push --set-upstream origin HEAD
  ll = log --oneline
  cia = commit --amend --no-edit
  mb = branch --merged